html {overflow-y:scroll;}
body {font:400 14px/20px arial,tahoma;}
.hide {display:none;}

a {color:#444;text-decoration:none;}

.main_cont {width:900px;margin:0 auto;padding-bottom:20px;}

/* =====tool===== */
.tool {zoom:1;overflow:hidden;padding:25px 0px;}
.tool_mode {float:left;}
.tool_mode a {margin-right:3px;}
.tool_mode .radio_wrap {display:inline-block;zoom:1;#display:inline;cursor:pointer;padding-right:10px;}
.tool_mode .radio_wrap input {margin:0px;padding:0px;}
.tool_btn {float:right;}
.tool_btn a {margin-left:3px;}

/* =====css template===== */
.css_template {display:none;position:absolute;left:50%;top:50%;width:600px;margin-left:-300px;background-color:#fff;border:5px solid rgba(0,0,0,.15);}
.css_template .nice_form {border:1px solid #bbb;padding:25px 0px;}
.css_template .nice_form_aligned .nice_control_group label {width:140px;margin:0px;padding-right:10px;}
.css_template .nice_form_aligned .nice_controls {margin-left:150px;}
.css_template_x {position:absolute;top:8px;right:10px;font:700 24px/25px tahoma;cursor:pointer;color:#f70;}

.tool_core {border:1px solid #ccc;padding:10px;}

/* =====canvas===== */
.canvas_area{ position: relative;overflow:auto;}
.canvas_main { display:block;border:1px dotted #666; }
.canvas_zoom { position: absolute; left:0px; top:0px; display: none; }

.canvas_area::-webkit-scrollbar-track-piece { background-color: #eee; }
.canvas_area::-webkit-scrollbar { width: 10px; height:10px; }
.canvas_area::-webkit-scrollbar-thumb { background: #777; }

/* =====result===== */
.result {display:none;}
.ret_hd {padding:10px 0px;height:35px;}
.ret_to_canvas {float:right;padding:0px 10px 2px;font:700 24px/25px tahoma;}

.ret_bd {clear:both;}
.ret_img {margin-bottom:20px;padding:10px;border:1px dotted #aaa;}
.ret_img_btn {font-size:12px;padding:5px 8px;}


.ret_bd_code {position:relative;}
.ret_bd pre {margin:0px;}
.ret_css {padding:15px;border:1px dotted #aaa;background-color:#eee;font-family:Consolas,courier new;}

/* =====copy btn===== */
.copy_btn {position:absolute;right:2px;top:2px;overflow:hidden;font-size:12px;padding:5px 10px;}
.copy_btn embed {position:absolute;top:0px;left:0px;}
.copy_shadow {position:absolute;top:0px;left:0px;width:100%;height:100%;cursor:wait;}

.copy_ret {display:none;position:fixed;width:200px;height:50px;top:50%;left:50%;margin-left:-100px;margin-top:-25px;font:400 20px/50px "\5FAE\8F6F\96C5\9ED1";border:2px solid rgba(0,0,0,0.3);color:#3A8E00;overflow:hidden;background-color:#fff;text-align:center;border-radius:5px;}
